.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.spin {
  height: 100vh!important;
}

.totalBooks{
  color: gray;
  text-align: center;
  margin: 10px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.loadingMore{
  display: flex;
  justify-content: center;
  margin: 10px 0 20px ;
}
.empty{
  margin-top: 50px;
  font-size: 20px;
}

